.header {
    top: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagebox {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intoducebox {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.videobox {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}